[Desktop Entry]
Version=1.0
Type=Application
Name=Dusky Sliders
GenericName=System Controls
Comment=Adjust Brightness, Volume, and Nightlight
Exec=uwsm-app -- /home/dusk/user_scripts/sliders/dusky_sliders.py
Terminal=false
Categories=Audio;HardwareSettings;Settings;Utility;
Keywords=dusky;sliders;brightness;nightlight;hyprsunset;display;volume;sound;audio;control;
Icon=preferences-system
StartupNotify=true
StartupWMClass=org.dusky.sliders
